$bg-color: #ffffff;
$bg-well-color: #ebf5d8;
$bg-content-color: #ebf5d8;
$bg-side-color: #222222;

$color: #333;
$btn-color: #3a9f36;

$text-header-color: #000;
$text-link-color:#3a9f36;
$text-hover-color:#6bc726;



