<form name="reviewForm" >
    <div class="row">
        <div class="col-md-8">
            <input ng-model="control.review.title" />
        </div>  
    </div>
    <div class="row">
        <div class="col-md-8">
            <textarea ng-model="control.review.reviewText" rows="10" cols="50" ></textarea>
        </div>
    </div>
    <div class="row">
        MISK
        <div class="col-md-8">
            <button class="btn btn-success" ng-click="control.submit();">Tallenna</button>
        </div>
    </div>
</form>

